
// 0000000     0000000   00000000   000   000  
// 000   000  000   000  000   000  000  000   
// 000   000  000000000  0000000    0000000    
// 000   000  000   000  000   000  000  000   
// 0000000    000   000  000   000  000   000  

bgColor        = #111
frameColor     = #222
textFocusColor = #fff
textBlurColor  = #444

#main
    background          bgColor

//  0000000   0000000  00000000    0000000   000      000      0000000     0000000   00000000
// 000       000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000   000       0000000    000   000  000      000      0000000    000000000  0000000
//      000  000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000    0000000  000   000   0000000   0000000  0000000  0000000    000   000  000   000

.scroller.long
    color                   rgb(47,47,47)
.scrollbar.long
    color                   rgb(60,60,60)

.scroller.short
    color                   rgb(127,127,255)
.scrollbar.short
    color                   rgb(160,160,255)

.scrollhandle
    background              #88f
    
// 000000000   0000000    0000000   000      000000000  000  00000000
//    000     000   000  000   000  000         000     000  000   000
//    000     000   000  000   000  000         000     000  00000000
//    000     000   000  000   000  000         000     000  000
//    000      0000000    0000000   0000000     000     000  000

.tooltip
    color               #aaa
    background          frameColor

// 000  000   000  00000000   000   000  000000000  
// 000  0000  000  000   000  000   000     000     
// 000  000 0 000  00000000   000   000     000     
// 000  000  0000  000        000   000     000     
// 000  000   000  000         0000000      000     

.input
    font-size           18px
    color               #aaa
    &.find
        color           #aaf
        &::selection
            color       #ff8
            background  #00f
    &.search
        color           #ff0
        &::selection
            background  #c00
    border              1px solid frameColor
    border-radius       3px
  
.num
    color               frameColor
.time
    color               textBlurColor
.icon
    color               #888
.id
    color               #aaf
.file
    color               #aaf
.find
    color               #ddd
.src
    opacity             0.5
    // color               #66f
    & .ln
        color           #88f
    & .col
        color           #44f
.name
    color               #f80
.log
    color               textFocus
    background          bgColor
.sep
    color               #88f
    
.line.main .id 
.line.main .file
.line.main .sep
    color               #c04
    
// .line.file span.log
    // color               #66a
    // background          #777
    
#lines div span
    // background          bgColor
    & .highlight-search
        background          #800
        border-radius       4px
        color               #ff0
    & .highlight-find
        // text-decoration     underline
        background          #00f
        border-radius       4px
        color               #ff4
        
/*
00000000  000  000      00000000   0000000
000       000  000      000       000
000000    000  000      0000000   0000000
000       000  000      000            000
000       000  0000000  00000000  0000000
*/
// #0af #88e #aaf #b4a #aaa #666
// #ff0 #f80 #f00 #0a0 #0f0     

.git-dirs-icon
.dir
.directory
    color           #aaf
    font-weight     bold

.file
    color           #aaa

.git-changed-icon
.cc
.cpp
.coffee
    color           #ff0

.git-added-icon
.h
.hpp
.py
.noon
    color           #f80

.md
.txt
.image
    color           #0a0

.pic
    color           #0f0

.pug
.styl
    color           #0af

.js
.css
.json
.html
    color           #b4a

.sh
    color           #f00

.dirname
    opacity         0.6
.extname
    opacity         0.5
.separator
    opacity         0.3

.linepos
    color           #66a

.lock
.dotfile
    color           #666

.dir .dotfile
    color           #88e
    