
// 0000000     0000000   00000000   000   000  
// 000   000  000   000  000   000  000  000   
// 000   000  000000000  0000000    0000000    
// 000   000  000   000  000   000  000  000   
// 0000000    000   000  000   000  000   000  

// bgColor        = #181818
bgColor        = #111
frameColor     = #222
textFocusColor = #fff
textBlurColor  = #444

#main
    background          bgColor

// 000000000   0000000    0000000   000      000000000  000  00000000
//    000     000   000  000   000  000         000     000  000   000
//    000     000   000  000   000  000         000     000  00000000
//    000     000   000  000   000  000         000     000  000
//    000      0000000    0000000   0000000     000     000  000

.tooltip
    color               #aaa
    background          frameColor

// 000  000   000  00000000   000   000  000000000  
// 000  0000  000  000   000  000   000     000     
// 000  000 0 000  00000000   000   000     000     
// 000  000  0000  000        000   000     000     
// 000  000   000  000         0000000      000     

.input-text
    color               textFocusColor
    border              1px solid frameColor
    border-radius       10px
  
.num
    color               frameColor
.time
    color               textBlurColor
.icon
    color               #ff0
.id
    color               #aaf
.file
    color               #aaf
.src
    color               #66f
    & .ln
        color           #22f
    & .col
        color           #00a
.name
    color               #f80
.log
    color               textFocus
.sep
    color               #88f
    
.line.main .id 
.line.main .file
.line.main .sep
    color               #c04
    
#lines div span
    background          bgColor
    & .highlight
        background          #800
        color               #ff0
    
    