
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

frameWidth       = 6px
logFontSize      = 15px
titlebarFontSize = 15px
scrollbarWidth   = 32px
scrollhandleWidth = 8px
fontMono         = "Meslo LG S", "Liberation Mono", "Menlo", "Cousine", "Andale Mono", monospace
titlebarFont     = Bahnschrift Light, Ebrima, Varela Round, Arial Rounded MT Bold, Helvetica, Arial

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

body
    font-family         fontMono
    font-size           15px
    
::selection
    background          #888
    
// 00     00   0000000   000  000   000  
// 000   000  000   000  000  0000  000  
// 000000000  000000000  000  000 0 000  
// 000 0 000  000   000  000  000  0000  
// 000   000  000   000  000  000   000  

#main
    display             flex
    flex-direction      column
    overflow            hidden
    
.input
    flex                10 1 0
    cursor              text
    -webkit-user-select text
    -webkit-app-region  no-drag
    border              none
    pointer-events      all
    font-size           titlebarFontSize
    font-family         titlebarFont
    
//  0000000   0000000  00000000    0000000   000      000      0000000     0000000   00000000
// 000       000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000   000       0000000    000   000  000      000      0000000    000000000  0000000
//      000  000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000    0000000  000   000   0000000   0000000  0000000  0000000    000   000  000   000

.scrollbar
    position            absolute
    top                 0
    cursor              ns-resize

    &.left
        bottom          0
        left            0
        width           scrollbarWidth
    &.right
        right           0
        width           10%
        height          100%

.scrollhandle
    position            absolute
    width               scrollhandleWidth
    top                 0
    &.left
        left            0
    &.right
        right           0
    
// 000      000  000   000  00000000   0000000  
// 000      000  0000  000  000       000       
// 000      000  000 0 000  0000000   0000000   
// 000      000  000  0000  000            000  
// 0000000  000  000   000  00000000  0000000   

#lines
    font-size               logFontSize
    -webkit-user-select     text
    flex                    1 1 0
    overflow                visible
    padding-left            6px
    position            relative
    & div 
        position            absolute
        width               100%
        white-space         nowrap
        overflow            hidden
        display             flex
        flex-direction      row
        & span
            overflow        hidden
            flex-shrink     0
            vertical-align  top
            display         inline-block
            cursor          pointer 
            
            &.find
                padding-right 0
            
            &.highlight-find
            &.highlight-search
                padding             0
            
            &.icon
                width               1.4em
                margin              0
                position            relative
                padding-left        0.2em
                -webkit-user-select none
                & img
                    margin-top      -2px
                    margin-bottom   -2px
                    height          100%
            &.sep
                text-align          center
                min-width           2em
                width               2em
                -webkit-user-select none
            &.log
                flex-grow           1
                cursor              text
                white-space         pre
                padding-left        2px
            &.num
                min-width           4ex
            &.time
                min-width           14ex
            &.id
                min-width           8ex
                -webkit-user-select none
            &.file
                min-width           15ex
                max-width           15ex
                -webkit-user-select none
            &.src
                -webkit-user-select none
                text-align          right
                padding-left        12px
                padding-right       12px
                
                & .ln
                    min-width       30px
                & .col
                    min-width       30px
            &.name
                min-width           100px
  
.src
.line.file .log
.file .icon
    opacity             0.5
    &:hover
        opacity         1
     
//  0000000   00000000   00000000    0000000   000   000   0000000
// 000   000  000   000  000   000  000   000  000 0 000  000
// 000000000  0000000    0000000    000   000  000000000  0000000
// 000   000  000   000  000   000  000   000  000   000       000
// 000   000  000   000  000   000   0000000   00     00  0000000


.function.tail.bound::before
    content                     ''
    position                    absolute
    border-top                  0.15em solid
    border-bottom               0.15em solid
    border-left                 0.0em solid transparent
    border-right                0.0em solid transparent
    border-top-left-radius      0.1em
    border-bottom-left-radius   0.1em
    height                      0.1em
    width                       1.08ch
    top                         0.45em

.function.tail::before
    content                     ''
    position                    absolute
    border-top                  0.15em solid
    border-bottom               0.15em solid
    border-left                 0.0em solid transparent
    border-right                0.0em solid transparent
    border-top-left-radius      0.1em
    border-bottom-left-radius   0.1em
    height                      0.0em
    width                       1.08ch
    top                         0.5em

.function.head::before
    content                     ''
    position                    absolute
    height                      0.0em
    width                       0.0em
    top                         0.35em
    border-radius               0.1em
    border-top                  0.3em solid transparent
    border-bottom               0.3em solid transparent
    border-left                 0.8em solid
    
// 000   0000000   0000000   000   000  
// 000  000       000   000  0000  000  
// 000  000       000   000  000 0 000  
// 000  000       000   000  000  0000  
// 000   0000000   0000000   000   000  

.browserFileIcon
    
    text-align          left
    display             inline-block
    background          transparent
    
octicon(char)
    font-family         octicons
    content             char

unicode(char)
    font-family         Sans-Serif
    content             char
    
.file-icon:before
    octicon('\f011')
    
.folder-icon:before 
    octicon('\f016')
    
.noon-icon:before 
    unicode('ⵙ')
                
// 000000000   0000000    0000000   000      000000000  000  00000000
//    000     000   000  000   000  000         000     000  000   000
//    000     000   000  000   000  000         000     000  00000000
//    000     000   000  000   000  000         000     000  000
//    000      0000000    0000000   0000000     000     000  000

.tooltip
    white-space                 nowrap
    padding                     3px
    padding-left                frameWidth
    padding-right               frameWidth
    border-bottom-left-radius   frameWidth
    border-bottom-right-radius  frameWidth
    font-family                 titlebarFont
    font-size                   14px
    opacity                     0
    transform                   scaleY(0)
    transition                  transform 0.2s ease-in, opacity 0.2s ease-in
                
// 000  000   000  00000000   000   000  000000000  
// 000  0000  000  000   000  000   000     000     
// 000  000 0 000  00000000   000   000     000     
// 000  000  0000  000        000   000     000     
// 000  000   000  000         0000000      000     

#input
    width               100%
    flex                0 0 100px
    margin-left         6px
    margin-top          9px
    
.input-text 
    height              100px
    width               435px
    border-radius       10px
    text-align          right
    font-size           80px
    -webkit-user-select auto
    padding-right       10px
    white-space         pre
    